$font-serif-c: 'PT Serif Caption', serif;
$font-avenir: 'Avenir', 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
$font-lato: 'Lato', 'helvetica neue',helvetica,arial,sans-serif;
$font-handwrite-c: 'Pacifico', cursive;

$light-blue-color: #00F0FF;
$fb-blue-color: #3B5998;
$brand-deepg: #212121;

$brand-primary:             #4080ff !default;
